<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
    crossorigin="anonymous">

    <link rel="stylesheet" href="css/styles.css">
     <script
  src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js" integrity="sha512-efUTj3HdSPwWJ9gjfGR71X9cvsrthIA78/Fvd/IN+fttQVy7XWkOAXb295j8B3cmm/kFKVxjiNYzKw9IQJHIuQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <title>TalentBridge: Jobs Finder</title>
  </head>
<body>
<nav class="navbar navbar-expand-md p-0">
<img class="navbar-brand logo-img img-fluid" src="images/TalentBridge-02.png" style="text-align: left" width="150" height="65" ALT="left">

<div class="d-inline-flex"><span id="tag-line">Building a bridge to your dream job...!</span></div>
<div class="d-inline-flex separator"></div>
<div class="d-inline-flex">
  <ul class="navbar-nav">
    <li class="nav-item p-4"> <a class="nav-link" href="./">Home</a></li>
    <li class="nav-item p-4"> <a class="nav-link" href="/signup" >Sign up</a></li>  
    {{#if logged_in}}
    <li id="profile-out" class="nav-item p-4"><a id="profile" href="/profile">Profile</a></li>
    <li class="nav-item p-4"><button class="btn-no-style" id="logout">Logout</button></li>
    {{/if}}     
  </ul>
</div>
</nav>


  <main class="container-fluid p-2">
    <div class="row">
      <div class="col-sm-8">
    <img id="mainImg" class="img-fluid" src="images/workforce1.jpg"   ALT="work interview">
    </div>
    <div class="col-sm-4 p-5">
        <div class="body-text p-2">{{{body}}}</div>  
    </div>
  </nav>
  <footer>
    <div id="footBackground">
      <h2>TalentBridge built by:
        <a href="https://github.com/ValFin96" >Val</a>,
        <a href="https://github.com/Majid-pkz" >Majid</a>,
        <a href="https://github.com/Sudarshans30" >Sudarshan</a>,
        <a href="https://github.com/katita81" >Katherine</a> and
        <a href="https://github.com/GuyJiawei">Guy</a>
      </h2>
      <p>
          &copy; 2023
      </p>
    </div>
  </footer>

  {{#if logged_in}}
    <script src="/js/logout.js"></script>
  {{/if}} 
  <script src="/js/buttons.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

  </body>

 
  </html>


