body {
    background-color: #c1c1c7;
    max-width: 100%;
    margin-right: 0px;
}



a {
    color: azure;
}

.navbar {
    background-color: teal;
    font-family: "Montserrat", sans-serif;
}

.body-text {
    font-family: "Montserrat", sans-serif;
    border-width: 3px;
    border-style: solid;
    border-color: lightseagreen;
}

.separator {
    flex-grow: 1;
}

#tag-line {
    color: white;
    letter-spacing: 1.5px;
    font-size: 18px;
    font-style: italic;
}

.navbar-nav {
    color: white;
}

.nav-link {
    color: white;
}

.nav-link a {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-link a:hover:not(.active) {
    color: white !important;
    background-color: #39aa49;
}



.active {
    color: white !important;
    background-color: #389944;
    border-width: 3px;
    border-style: solid;
    border-color: lightseagreen;
}
button,#sumitBtn,#saveBtn{
    margin-left: 30px;
}

.btn,#saveBtn,
#register,#adsJobs {
    color: white;
    background-color: #389944;
    border-width: 2px;
    font-size: 1vw;
    border-style: solid;
    border-color: teal;
    margin-left: 30px;
    margin-right: 30px;
}
#adsJobs{
    padding: 5px;
    margin: 20px;
    margin-bottom: 20px;
}

#saveBtn:hover,
#register:hover,#adsJobs:hover,
.btn:hover {
    border-width: 2px;
    border-color: teal;
    border-style: solid;
    background-color: teal;
    color: white;
}
.sign-up h2{
    padding: 30px !important;
    
}

.form-group{
    margin-left: 20px;

}

#password-signup,#sign-up-btn{
    margin-left:-12px;
}
.form-control{
    
    
    width:350px;
    margin-bottom: 20px;
}

#profile-form,#first-name,#last-name,#email, #saveBtn,#dropdown{
    margin: 10px;
   
    
}
#first-name,
#last-name,
#email{
    width: 350px !important;
}
footer {
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: azure;
    background-color: #89898b;
    padding-top: 20px;
}

footer h2 {
    font-size: 15px;

}
